
/* Import Fonts */ 

@font-face {
    font-family: Lobster-Regular;
    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: SourceCodePro;
    src: url(../fonts/SourceCodePro.ttf);
}


/* Default Setting */

* {
    margin: 0;
    padding: 0; 
    border: 0; 
}


/* Tag Selektoren */

header, footer {
    background-color: #06283D;
    color: white;
}

header {
    text-align: center;
}

footer{
    text-align: center;
}

h1 {
    font-family: Lobster-Regular;
    font-size: 6em;
    padding-top: 40px;
}

h2 {
    font-size: 3em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    text-shadow: #0A0A0A 0px 2px 5px;
}

h3 {
    font-family: Lobster-Regular;
}


/* ID Selektoren */

#titelbild {
    background-image: url(../img/bild4.png);
    width: 100%;
    height: 540px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#adresse {
    font-size: 2em;
    padding: 50px;
}


/* Class Selektoren */

.leistungenBilder {
    height: 400px;
    width: 400px;
}

.leistungen {
    font-size: 2em;
    font-family: SourceCodePro;
    align-items: center;
    text-align: center;
    text-shadow: #0A0A0A 0px 2px 5px;
}

.liste {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    list-style: none;
}





